.list .nav-link {
  color: white;
}
.list .nav-link:hover {
  color: cornflowerblue;
  border-bottom: none;
}
.list {
  border: none !important;
}
.admin_name {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  #example1 td,
  th {
    font-size: small;
  }
}
.insert_brand_btn {
  margin-left: auto;
  margin-right: auto;
}
